.player-pockets {
    height: 250px;
    width: 100px;
    border: 1px solid black;
    border-radius: 40%;
    box-shadow: 10px 10px 10px 10px black inset;
    padding: 20px;
    margin: 0 10px 0 10px;
    display: flex;
    padding-top: 40px;
}

.player1-pockets {
    margin-bottom: 120px;
}

.player-store {
    height: 600px;
    width: 300px;
    border: 1px solid black;
    box-shadow: 20px 20px 20px 20px black inset;
    border-radius: 40%;
    padding: 50px;
    display: flex;
    padding-top: 100px;
}

#gameboard {
    display: flex;
    flex-direction: row;
    border: 5px solid black;
    padding: 20px;
    background-color: navajowhite;
    background-image: url('Wood-Grain-Texture-11.png');
    /* background image source: Chris Spooner https://blog.spoongraphics.co.uk/bundle */
}

#player-pocket-area {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2fr);
}

.hidden {
    display: none;
}

ul {
    list-style-image: url('IMG_4490-removebg-preview.png');
    column-count: 2;
    column-width: 22px;
}

.player-alerts {
    display: flex;
    flex-direction: row;
    background-color: white;
    opacity: 90%;
}

#player1-turn, #player2-turn {
    width: 80%;
    color: red;
    text-align: center;
}

h1 {
    text-align: center;
    color: blue;
}

#rules {
    width: 800px;
    text-align: center;
    margin: 0 auto;
    border: 5px solid black;
    background-color: white;
}

body {
    font-family: 'Kufam', cursive;
    background-image: url('Geometric-Pattern-2.png');
    /* background image source: Chris Spooner https://blog.spoongraphics.co.uk/bundle */
}

#game-start {
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0px;
    background-color: green;
    opacity: 100%;
}

#game-over {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-weight: bold;
}

#player2-turn {
    right: 0px;
}

#startStones-selector {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    background-color: white;
    opacity: 80%;
}

@media (max-width: 1300px) {
    
    .player-pockets {
        width: 10%;
        margin: 0px;
        border-radius: 20%;
        padding: 30px;
    }

    .player-store {
        width: 20%;
    }

    .player1-pockets {
        margin-bottom: 120px;
    }
    
    #gameboard {
        padding: 0px;
    }
}